/* Base */

.card {
  border-radius: 1rem !important;
  border: none;
}
/* Base End */

/* Dashview */
.wrap-name-search {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}

.price {
  color: darkseagreen;
  font-weight: bold;
}

.searchIcon {
  border-left: none !important;
}

.unfilledContainer {
  height: 200px;
  border-radius: 10px;
  background-color: #f2efff;
}

.unfilledContainer:hover {
  background-color: #5a32ea;
}

.content {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-body {
  width: 200px;
  height: 100%;
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  border: 1rem solid #f1effc;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
.border1::after {
  border: 2rem solid #5630e8;
  border-radius: 50%;
} */

.table-text {
  height: 50px;
}

/* Dashview End*/

/* SideBar */

.wrap-all-sidebar {
  height: 100vh;
  background-color: #040440;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.accor-btn {
  color: #ffffff;
  background-color: #040440;
}
