/* *Base */
.card {
  border-radius: 1rem !important;
  border: none;
}

.section-right {
  overflow-y: scroll;
  height: 100vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.thisMonth{
  font-size: 0.8rem;
}


/* !Overide */

.accordion-button::after {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  content: "";
  background-image: url("../Asset/download.svg") !important;
  background-repeat: no-repeat;
  background-size: 1rem;
  transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #5a32ea;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

/* *Base End */

/* !Dashview */
.wrap-name-search {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}

.price {
  margin-right: 0.2rem;
  color: darkseagreen;
  font-weight: bold;
}

.searchIcon {
  border-left: none !important;
}

.unfilledContainer {
  height: 200px;
  border-radius: 10px;
  background-color: #f2efff;
}

.unfilledContainer:hover {
  background-color: #5a32ea;
}

.content {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-body {
  width: 200px;
  height: 100%;
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  border: 1rem solid #f1effc;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
.border1::after {
  border: 2rem solid #5630e8;
  border-radius: 50%;
} */

.table-text {
  height: 50px;
}

.months-text{
  margin-top: 0.2rem;
  font-size: 0.8rem;
}

/* !Dashview End*/

/* ?SideBar */

.wrap-all-sidebar {
  height: 100vh;
  background-color: #040440;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.accor-btn {
  padding-left: 0.4rem !important;
  color: #ffffff;
  background-color: #040440;
}

/* ?SideBar End */